// ======= breakpoint =======
_ = 400px
__ = 720px
___ = 960px
____ = 1120px


// ======= global =======
$global-text-color         = #FFF
$global-sub-text-color     = #EEE
$global-background         = #333
$global-border-color       = #CFCFCF
$global-font-size          = 14px
$global-lineheight         = 26px


// ======= link =======
$link-color          = #AAA
$link-hover-color    = #FFF
$link-active-color   = #AAA
$link-visited-color  = #AAA
